.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:80px 0;
}

.hero > div{
    width:30%;
}

.leftsection{
    /* background-color: red; */
    font-size: 2.5rem;
}

.rightsection img{
    width: 80%;
    margin: 80px 0;
}

 .purple{
    color:rgb(171, 115, 224);
 }

 #element{
    color:rgb(171, 115, 224);
 }