/* header */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:70px;
    /* background-color:rgb(5, 5, 61); */
    background: linear-gradient(90deg, #05054a, #0b0f6b);
    padding: 20px 50px;
}

nav ul{
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin:0 23px;
}

nav ul li a{
    text-decoration: none;
    color:white;
}

nav ul li a:hover{
    color:rgb(74, 74, 210);
    font-size:1.02rem;
}

.vertical-line {
  width: 2px;       
  height: 100px;   
  background-color: #38bdf8;
}


 .left{
    font-size: 1.7rem;
 }



